/* This file is for your main application css. */

@import "bootstrap";

body {
    width: 35em;
    margin: 0 auto;
    font-family: Tahoma, Verdana, Arial, sans-serif;
}

h1 { text-align: center; }

.tile {
       background: black;
       border: 1px solid #999;
       float: left;
       font-size: 24px;
       font-weight: bold;
       height: 50px;
       margin:10px;
       padding: 10px;
       text-align: center;
       width: 50px;
       user-select: none;
       color: transparent;
   }

.tile2 {
    background: white;
    border: 1px solid #999;
    float: left;
    font-size: 24px;
    font-weight: bold;
    height: 50px;
    margin:10px;
    padding: 10px;
    text-align: center;
    width: 50px;
    user-select: none;
    color: black;
}

.tile2:disabled {
    background: white;
    color: black;
}

.tile:disabled {
    background: black;
    color: black;
}

.tile-correct {
    background: white;
    border: 1px solid #999;
    float: left;
    font-size: 24px;
    font-weight: bold;
    height: 50px;
    margin:10px;
    padding: 10px;
    text-align: center;
    width: 50px;
    user-select: none;
    color: green;
    pointer-events: none;
}

.tile-table {
    margin-left: 23%;
}

.game-board {
    text-align: center;
}

